<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= current_page.data.title || "Kleidi" %></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <%= stylesheet_link_tag "site" %>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Archivo+Black|Chivo:300,300i" rel="stylesheet">
    <%= javascript_include_tag "site" %>
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-transparent fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">
          <img alt="Kleidi" src="/images/logo.png" class="logo img-fluid">
          <a class="nav-link tuto" href="guide-production">Créer votre plaque Kleidi</a>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbar">
          <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" href="/">Accueil</a></li>
            <li class="nav-item"><a class="nav-link" href="#about">Qui sommes-nous ?</a></li>
            <li class="nav-item"><a class="nav-link" href="#works">Les œuvres</a></li>
            <li class="nav-item"><a class="nav-link" href="#map">La carte</a></li>
            <li class="nav-item"><a class="nav-link" href="#partenaires">Nos partenaires</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <%= yield %>

    <footer>
      <div class="container">

       
        <p id="partenaires" class="partenaires">Nos partenaires</p>
        <div class="row">
            <div class="col-md-2 col-6">
              <a href="http://www.bordeaux.fr/" target="_blank">
                <img alt=" Logo de la ville de Bordeaux" class="img-fluid" src="/images/logos/logo-ville-bordeaux.png">
              </a>
            </div>
            <div class="col-md-2 col-6">
              <a href="http://www.musee-aquitaine-bordeaux.fr/" target="_blank">
                <img alt="Musée d'Aquitaine" class="img-fluid" src="/images/logos/logo-musee-aquitaine.png">
              </a>
            </div>
            <div class="col-md-2 col-6">
              <img alt="Logo universite bordeaux" class="img-fluid" src="/images/logos/logo-universite-bordeaux.png">
            </div>
            <div class="col-md-2 col-6">
              <a href="https://www.mmibordeaux.com/" target="_blank">
                <img alt="Métiers du Multimédia et de l'internet" class="img-fluid" src="/images/logos/logo-mmi.png">
              </a>
            </div>
            <div class="col-md-2 col-6">
              <a href="https://www.ethanpiboyeux.fr" target="_blank">
                <img alt="Ethan Piboyeux" class="img-fluid" src="/images/logos/logo-EP.png">
              </a>
            </div>
            <div class="col-md-2 col-6">
              <a href="https://acsd.fr" target="_blank">
                <img alt="ACSD" class="img-fluid" src="/images/logos/logo-acsd.png">
              </a>
            </div>
        </div>

         
          <div class="col-md-6">
            <a class="link-footer" href="mailto:kleidi@gmail.com">Envoyer un mail</a>

          </div>
          <div class="col-md-6">
            <a class="link-footer" href="mention-legale" target="_blank">Mentions légales</a>
          </div>
        
        <p class="small text-muted pt-5 pb-5 m-0">© 2020 Kleidi</p>
      </div>
    </footer>
  </body>
</html>
