
<div class="container"> 
  <h2 class="audiodesc_title_inpage">Oeuvre de Volonzan Denis A</h2>
  <img width="400" height="500" src="../images/enlevement.jpg" alt="Oeuvre de Volonzan Denis A">
  <div class="audio_container">
    <h3>Audiodescription :</h3>
    <audio controls autoplay>
      <source src="audios/enlevement.mp3" type="audio/mpeg">
    </audio>
  </div>