
<div class="container"> 
  <h2 class="audiodesc_title_inpage">Oeuvre Gisant d’un chevalier de cureton</h2>
  <img width="400" height="500" src="../images/chevalier.jpg" alt="Oeuvre gisant d’un chevalier de cureton">
  <div class="audio_container">
    <h3>Audiodescription :</h3>
    <audio controls autoplay>
      <source src="audios/chevalier.mp3" type="audio/mpeg">
    </audio>
  </div>