---
title: Guide de production
---

<div class="container-fluid mt-5">
  <div class="row pt-4">
    <nav class="col-md-2 bg-light d-none d-md-block">
      <div class="position-fixed ">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link menu-gauche" href="#sommaire"> Sommaire</a>
          </li>
          <li class="nav-item menu-gauche">
            <a class="nav-link " href="#introduction"> Introduction</a>
          </li>
          <li class="nav-item menu-gauche">
            <a class="nav-link" href="#oeuvre-realisable"> Type d'oeuvre réalisable</a>
          </li>
          <li class="nav-item menu-gauche">
            <a class="nav-link " href="#info-oeuvre"> Récuperer les informations de l'oeuvre</a>
          </li>
          <li class="nav-item menu-gauche">
            <a class="nav-link menu-gauche" href="#detourage"> Détourage de l'oeuvre</a>
          </li>
          <li class="nav-item menu-gauche">
            <a class="nav-link " href="#plaque">La plaque</a>
          </li>
          <li class="nav-item menu-gauche">
            <a class="nav-link " href="#audioguide">L'audioguide</a>
          </li>
          <li class="nav-item menu-gauche">
            <a class="nav-link " href="#acsd">ACSD template</a>
          </li>
          <li class="nav-item menu-gauche">
            <a class="nav-link " href="#publier">Publier</a>
          </li>

          
        </ul>
      </div>
    </nav>
    <div class="col-md-9 pl-5">
          
          <h1 id="sommaire" class="processus" >Processus pour créer la plaque</h1>
            <h2 >Sommaire</h2>
              <h5><strong>Introduction</strong></h5>
                <ol>
                <li>Les normes :</li>
                </ol>

                  <h5><strong>Type d'oeuvre réalisable</strong></h5>
                    <p>Avec notre dispositif, toutes les œuvres ne peuvent pas être réalisées, seul une œuvre en 2D(tableau, dessin…) peut être intégré à la plaque Kleidi, les sculptures et en œuvres en 3D sont quant à elles impossibles à réaliser.</p>

                  <h5><strong>Récupérer les informations de l'oeuvre</strong></h5>
                <ol>
              <li>Réalisation de la plaquette en 3D ( avant impression ) </li>
              <br>
              <li>Impression et assemblage de la plaquette finie </li>
                </ol>

                  <h5><strong>Détourage de l'oeuvre</strong></h5>
                    <ol>
                      <li>Réglages de l’environnement Adobe Illustrator:  </li>
                      <br>
                      <li>Utilisation d’Adobe Illustrator :  </li>
                      <br>
                      <li>L’export : </li>
                    </ol>

                  <h5><strong>La plaque</strong></h5>
                <ol>
              <li>La Typo : </li>
              <br>
              <li>Modifier le template :</li>
              <br>
              <li>le QR code :  </li>
              <br>
              <li>l’export :  </li>
                <p>Vectoriser une image :<br> Vectoriser du texte : </p>          
              </ol>

             <h5><strong>L'audioguide</strong></h5>
            <ol>
           <li>Rédaction</li>
           <br>
           <li>Enregistrement  </li>
           <br>
           <li>Publication </li>
            </ol>
          <h5><strong>ACSD template</strong></h5>
          <br>
          <h5 id="introduction"><strong>PUBLIER #KLEIDI </strong></h5>



      <h2 >Introduction</h2>

          <p>Bienvenue sur le guide <strong>Kleidi</strong> ! Ce guide a pour but de vous expliquer comment réaliser, de A à Z, une plaque Kleidi, soit de la réalisation de l’audiodescription à l’impression de la plaque en 3D. À la fin de ce guide, vous pourrez vous-même réaliser votre plaquette grâce aux outils et descriptions décrivant chacune des étapes.</p>
          <p>La plaque <strong>Kleidi</strong> se compose de 2 éléments : </p>
            <ul>
              <li>L’oeuvre extrudée</li>
              <li>La plaque constitué d' :</li>
              <p>-Un texte en braille ainsi que l’habillage textuel et informatif<br>-Un QR code <br> -Un texte Kleidi</p>
            </ul>
          <img id= "normes" src="/images/braille.png">
         <h5><strong>Les normes</strong></h5>
          <p>La plaque finale fournie par Kleidi est modifiable, mais doit respecter un ensemble de points, définis en suivant. <br> La mise en page globale n’est pas modifiable, elle doit être identique au document que nous vous mettons à disposition. <br>Le logo et la phrase d’accroche / slogan ne doivent pas être modifiés. <br> Possibilitée d’ajouter votre logo en bas du document, sous la phrase d’accroche, dans une version exclusivement en noir et blanc. <br>Le document doit être entièrement en noir et blanc.<br>Les textes relatifs au documents sont modifiables, en respectant la police, sa taille et sa graisse.<br id="oeuvre-realisable">Le QR code, doit être changer pour rediriger vers l’audio description lié à la plaque, mais il ne peut pas changer de place ni de taille. </p>
        

      <h2>Type d'oeuvre réalisable</h2>

          <p>Avec notre dispositif, toutes les œuvres ne peuvent pas être réalisées, seul une œuvre en 2D(tableau, dessin…) peut être intégré à la plaque Kleidi, les sculptures et en œuvres en 3D sont quant à elles impossibles à réaliser.</p>
          <br>

          <p id="info-oeuvre" >PS: Il est aussi possible de réaliser une Plaque Kleidi avec une oeuvre photographique , cependant, c’est à vous de définir ce qui vas être réalisable et intéressant de faire ressortir
          </p>

      <h2>Récupérer les informations de l'oeuvre</h2>

          <p>Pour la création de la plaque Kleidi vous devez récupérer les informations suivante de votre oeuvre : 
          </p>
            <ul>
              <li>Nom de l’oeuvre </li>
              <li>L’Auteur</li>
              <li>Dimension de l’oeuvre</li>
              <li id="detourage">Technique(peinture à l’huile…)</li>
              <li>Une image de l’oeuvre</li>
              <li>La date de création</li>
            </ul>

      <h2>Détourage de l'oeuvre</h2>

        <h4><strong>1ère étape - Réglages de l’environnement Adobe Illustrator:</strong></h4>
          <ol>
            <li>Lancer l’application Adobe Illustrator²</li>
            <br>
            <li>Créer un nouveau fichier</li>
            <br>
            <li> Mettre ce fichier à la bonne taille soit en 200x200mm</li>
          </ol>

        <h4><strong>2ème étape - Utilisation d’Adobe Illustrator :</strong></h4>

          <ol>
            <li>Importez l’image de votre oeuvre et centrée la</li>
            <br>
            <li>Verrouiller le calque de votre image initiale pour toujours avoir le modèle de base. Ceci permettra de détourer vos éléments dans différents calques sans modifier le modèle de base</li>
            <br>
            <li>Détourez les éléments principaux de votre œuvre à l’aide de l’outil plume présent sur la gauche de votre interface. Les éléments ayant la même épaisseur doivent être détournés dans un nouveau calque</li>
            <br>
            <li>Une fois que vous avez détouré tous vos éléments principaux dans différents calques, il va falloir les séparer en fonction de leur niveau de hauteur. C'est-à-dire que vous devez renommer vos calques avec l’épaisseur d’impression 3D (en cm) voulu pour chaque élément</li>
          </ol>

        <h4 id="plaque"><strong>3ème étape - L’export :</strong></h4>
          <ol>
            <li>Enregistrer le fichier illustrator en .ai pour que l’on puisse le réutiliser plus tard</li>
          </ol>

      <h2>La plaque</h2>
        <h4><strong>1ère étape - La Typo : </strong></h4>
         <p>Télécharger la typographie [braille.odt] dans le document ressource. Elle permet d’écrire en braille.</p>

        <h4><strong>2ème étape - Modifier le template :</strong></h4>
         <p>Ouvrir le template [ template ai ] avec illustrator et modifier tous les textes pour qu’il correspondent à votre oeuvre puis effectuer sous les paragraphes leurs traduction en braille avec la police téléchargée précédemment :</p>

         <p>Le texte en braille est un élément primordial de nos plaques, c’est pour cela qu’il est important de l'intégrer correctement pour qu’il soit compréhensible et accessible. </p>

         <p>Pour traduire un texte en braille il vous suffit d’écrire votre texte en français de manière claire comme ceci :</p>

           <ul>
              <li>Nom de l’oeuvre </li>
              <li>Nom de l’artiste</li>
              <li>Technique(s) & dimensions</li>
         <p><strong>Ps: N'oubliez pas de changer la typographie avec Illustrator</strong></p>
           </ul>

         <p><strong>Attention </strong>une taille de police minimum de 24 pt et requise pour que le braille soit compréhensible. <br> 
         Devant une lettre en majuscule vous devez mettre le signe de tréma : ¨ <br>
         Devant des chiffres vous devez mettre le signe accent grave : `
         </p>

        <h4><strong>3ème étape - le QR code :</strong></h4>

           <p>La réalisation du QR code peut se faire via Adobe InDesign. Dans le menu, choisissez Objet puis Générer un code QR. La boîte de dialogue apparaît, il vous suffit ensuite de sélectionner “Hyperlien Web” dans l’onglet Contenu et de remplir les champs qui s’affichent. Il est généré en noir sur fond transparent en 30 x 30.</p>

           <p>Vous pouvez aussi utiliser un générateur. Cependant, il est important de vérifier que le QR code généré redirige directement sur l’url de l’audiodescription que vous avez rentré et qu’il ne passe pas par le site du générateur. 
           Générateur utilisé actuellement :<a href="https://www.unitag.io/fr/qrcode"> https://www.unitag.io/fr/qrcode</a></p>

           <p>une fois le qr code créer il vous suffit de l'importer dans illustrator.</p>

        <h4><strong>4ème étape - l’export :</strong></h4>

           <p>Ca y est, votre plaque Kleidi est prête. Vous allez désormais devoir l’exporter pour obtenir un fichier adéquat à l’impression. Sur Adobe Illustrator, il vous suffira de vectoriser tous les éléments de vos calques.  La vectorisation permet aux machines de l’imprimeur de lire les tracés de votre fichier pour pouvoir les reproduire sur un format réel.</p>

           <p><strong>Vectoriser une image :</strong></p>

             <ol>
              <li>Pour vectoriser une image il vous suffit de sélectionner le calque désiré et d’aller dans objet>vectorisation>créer</li>
              <li>Vous pouvez accéder à certains paramètres de réglages avec affichage>vectorisation</li>
            </ol>

           <p><strong>Vectoriser du texte :</strong></p>

             <ol>
              <li>Pour vectoriser un bloc texte il vous suffit de sélectionner le calque désiré et de faire clic droit>vectoriser</li>
             </ol>

           <p id="audioguide">Le QR code est quant à lui déjà vectorisé.</p>
           <p>Une fois que tous vos éléments ont été vectorisés, allez dans fichier>exporter et sélectionnez PDF dans le format d’export voulu et veillez à sélectionner la bonne destination de votre fichier une fois  exporté.</p>

      <h2>L'audioguide</h2>

           <p>L’audiodescription Kleidi a pour but de permettre à la personne se tenant devant la plaquette de mieux s’imaginer ce qu’elle touche. Pour y accéder, un QR code est placé sur chacune de nos plaquettes. Nous recommandons une durée d’enregistrement entre 1,30 et 3 minutes. Si cela est possible, l’artiste peut lui-même réaliser l'audiodescription. Il pourra alors partager ses intentions qui ont permis de créer l'œuvre.</p>

        <h4><strong>1ère étape : rédaction</strong></h4>

          <ol>
            <li>Choisir l’œuvre sur laquelle travailler</li>
            <br>
            <li>Réaliser une description générale de l’œuvre (assez rapide, description des éléments qui composent le tableau, et comment ils s’organisent sur le tableau)</li>
            <br>
            <li>Partir dans du storytelling, description des ambiances, de l'histoire derrière le tableau (éléments historiques si l’œuvre se rattache à un événement passé ou éléments fictifs si l’œuvre n’a pas de contexte historique) | ambiance sonore simple + ajouts bruitages en rapport avec le texte</li>
            <br>
            <li>Faire valider le texte par un professionnel si vos compétences ne sont pas dans le domaine de l’histoire de l’art</li>
         </ol>
     
        <h4><strong>2ème étape : enregistrement</strong></h4>

            <p>Après l’écriture, nous procédons à l’enregistrement de la voix. Il s’agit de parler d’une voix claire et d’enregistrer dans les meilleures conditions possibles : pas de bruits extérieurs et munissez-vous, si possible, d’un bon micro.</p>
            <p>Ouvrez le logiciel audacity (<a href="https://www.audacityteam.org"> https://www.audacityteam.org</a>) ou un autre logiciel d’enregistrement vocal et enregistrez votre voix ou celle d’un acteur.</p>
            <p>Tutoriel audacity enregistrement : <br><a href="https://www.youtube.com/watch?v=F-BimCVm-TM "> https://www.youtube.com/watch?v=F-BimCVm-TM </a></p>
            <p>Optionnelle : pour ajouter de la plus-value un travail de sound design peut être effectué. Vous pouvez ajouter des bruitages et des sons d’ambiance qui collent avec l'œuvre.</p>

        <h4 id="acsd"><strong>3ème étape : publication</strong></h4>
            <p>Pour cette étape, il vous suffit de mettre en ligne votre enregistrement sur une page avec une url dédiée qui sera utilisé par la suite avec le qr code.</p>
      <h2>ACSD template</h2>

            <p>Kleidi est en partenariat avec l'ASDC et vous propose d'imprimer vos plaques avec eux. Pour cela nous vous proposons d’envoyer un mail à l’adresse suivante afin d’obtenir un devis et une facture :<a href="commercial@acsd.fr"> commercial@acsd.fr</a></p>

            <p>N'oubliez pas de fournir en pièce jointe le fichier pdf vectoriel ainsi que votre fichier illustrator vectorisé</p>

            <p id="publier">
              Si vous souhaitez produire une plaque kleidi avec une autre imprimerie, respectez au maximum <a href="#normes">les normes</a> que nous vous proposons.
            </p>

       
      <h2>PUBLIER #KLEIDI </h2>

            <p>Voilà votre dispositif Kleidi est prêt il ne vous reste plus qu'à le partager avec le #kleidi en envoyant votre photo sur les réseaux sociaux.</p>

    </div>
  </div>
</div>

