---
title: Guide de production
---

<div class="container">
  <div id="about" class="row">
    <div class="col-md-12 ">
      <br>
  
      <h2>Processus pour créer la plaque</h2>

     
      
      <h2>Sommaire</h2>
      <h5><strong>Introduction</strong></h5>
      <ol>
      <li>Réalisation du texte descriptif </li>
      <li>Réalisation d’une audiodescription</li>
      <li>Réalisation de l’oeuvre en 3D</li>
      <li>Réalisation de la plaquette en 3D ( avant impression ) </li>
      <li>Impression et assemblage de la plaquette finie </li>
    </ol>
      <h5><strong>Type d'oeuvre réalisable</strong></h5>
      <p>Avec notre dispositif, toutes les œuvres ne peuvent pas être réalisées, seul une œuvre en 2D(tableau, dessin…) peut être intégré à la plaque Kleidi, les sculptures et en œuvres en 3D sont quant à elles impossibles à réaliser.</p>
      <h5><strong>Récupérer les informations de l'oeuvre</strong></h5>
      <ol>
      <li>Réalisation de la plaquette en 3D ( avant impression ) </li>
      <li>Impression et assemblage de la plaquette finie </li>
    </ol>
      <h5><strong>Détourage de l'oeuvre</strong></h5>
      <ol>
      <li>Réalisation du texte descriptif </li>
      <li>Réalisation d’une audiodescription</li>
      <li>Impression et assemblage de la plaquette finie </li>
    </ol>
      <h5><strong>La plaque</strong></h5>
      <ol>
      <li>Réalisation du texte descriptif </li>
      <li>Réalisation d’une audiodescription</li>
      <li>Réalisation de l’oeuvre en 3D</li>
      <li>Réalisation de la plaquette en 3D ( avant impression ) </li>
      <li>Impression et assemblage de la plaquette finie </li>
    </ol>
      <h5><strong>L'audioguide</strong></h5>
      <ol>
      <li>Réalisation du texte descriptif </li>
      <li>Réalisation d’une audiodescription</li>
      <li>Réalisation de l’oeuvre en 3D</li>
      <li>Réalisation de la plaquette en 3D ( avant impression ) </li>
      <li>Impression et assemblage de la plaquette finie </li>
    </ol>
      <h5><strong>ACSD template</strong></h5>

      <ol>
      <li>Réalisation du texte descriptif </li>
      </ol>

    <h2>Introduction</h2>

    <p>Bienvenue sur le guide <strong>Kleidi</strong> ! Ce guide a pour but de vous expliquer comment réaliser, de A à Z, une plaque Kleidi, soit de la réalisation de l’audiodescription à l’impression de la plaque en 3D. À la fin de ce guide, vous pourrez vous-même réaliser votre plaquette grâce aux outils et descriptions décrivant chacune des étapes.</p>
    <p>La plaque <strong>Kleidi</strong> se compose de 2 éléments : </p>

   
    <ul>
      <li>L’oeuvre extrudée</li>
      <li>La plaque constitué de :</li>
      <li>Le texte en braille ainsi que l’habillage textuel et informatif</li>
      <li>Un QR code </li>
      <li>Texte Kleidi</li>
    </ul>

    

    <h2>Type d'oeuvre réalisable</h2>

    <p>Le texte descriptif, traduit en braille, résume brièvement les éléments principaux de l’oeuvre sur la plaquette (artiste, type, taille, date, courant artistique…). Il ne faut pas oublier d’inviter l’individu à se rendre sur le site Kleidi.org pour retrouver l’audio-guide correspondant avec la phrase suivante : “Pour accéder à l'audio-guide, scannez le QR code en relief en haut à droite de la plaque” dans le texte en braille. </p>

    <h2>Récupérer les informations de l'oeuvre</h2>
    <p>L’audiodescription <b>Kleidi</b> a pour but de permettre à la personne se tenant devant la plaquette de mieux s’imaginer ce qu’elle touche. Pour y accéder, un QR code est placé sur chacune de nos plaquettes, avec un contour en relief pour être plus accessible. Elle dure entre 1,30 et 3 minutes.</p>

    <h2>Détourage de l'oeuvre</h2>

    <p>Nos audiodescriptions décrivent les couleurs, les textures, les formes, le style artistique et globalement, ce qui se dégage de l’oeuvre. </p>

    <p>On commence par nommer l’objet à décrire puis l’on fragmente le tout en petites parties, en utilisant des verbes de perception et des adjectifs.
      Chaque description suit un plan commun :
    </p>

    <h2>La plaque</h2>
    <ul>
      <li>Le titre</li>
      <li>Le type de l’oeuvre</li>
      <li>Le nom de l’artiste </li>
      <li>La date de création </li>
    </ul>

    <h2>L'audioguide</h2>

    <ol>
      <li>Les personnages</li>
      <li>Les lignes de fuite, de perspectives</li>
      <li>Premier plan</li>
      <li>Arrière plan</li>
      <li>Interprétations possibles</li>
    </ol>


    <h2>ACSD template</h2>


    <p>Vous pouvez aussi utiliser un générateur, cependant, il est important de vérifier que le QR code généré redirige directement sur l’url de l’audiodescription que vous avez rentré et qu’il ne passe pas par le site du générateur.
    Générateur utilisé actuellement : <a href="https://www.unitag.io/fr/qrcode">https://www.unitag.io/fr/qrcode</a>
    </p>
    La plaque est composée :
    <ul>
      <li>du QR code (contour surélevé)</li>
      <li>de l'oeuvre en relief (différent en fonction de l’horizontalité ou de la verticalité de l’oeuvre) </li>
      <li>du titre de l’oeuvre en-dessous de celle-ci</li>
      <li>des informations telles que : la date, sa taille et son type (peinture, statut…)</li>
      <li>le texte en braille</li>
      <li>le texte descriptif (avec une traduction du texte en braille en-dessous)</li>
      <li>le logo Kleidi </li>
      <li>la phrase “Kleidi a pour but de rendre accessible l’art aux personnes non-voyantes et malvoyantes. Profitez d’une description audio de l'oeuvre avec le QR code ci-dessus.”</li>
    </ul>

    </div>



</div>

</div>
