---
title: Guide de production
---

<div class="container">
  <div id="about" class="row">
    <div class="col-md-5 offset-md-2 col-xs-2">
      <br>
      <h2>Introduction</h2>

    <p>Bienvenue sur le guide <strong>Kleidi</strong> ! Ce guide a pour but de vous expliquer comment réaliser, de A à Z, une plaque Kleidi, soit de la réalisation de l’audiodescription à l’impression de la plaque en 3D. À la fin de ce guide, vous pourrez vous-même réaliser votre plaquette grâce aux outils et descriptions décrivant chacune des étapes.</p>

    <h2>Sommaire</h2>

    <ol>
      <li>Réalisation du texte descriptif </li>
      <li>Réalisation d’une audiodescription</li>
      <li>Réalisation de l’oeuvre en 3D</li>
      <li>Réalisation de la plaquette en 3D ( avant impression ) </li>
      <li>Impression et assemblage de la plaquette finie </li>
    </ol>

    <h2>Réalisation du texte descriptif</h2>

    <p>Le texte descriptif, traduit en braille, résume brièvement les éléments principaux de l’oeuvre sur la plaquette (artiste, type, taille, date, courant artistique…). Il ne faut pas oublier d’inviter l’individu à se rendre sur le site Kleidi.org pour retrouver l’audio-guide correspondant avec la phrase suivante : “Pour accéder à l'audio-guide, scannez le QR code en relief en haut à droite de la plaque” dans le texte en braille. </p>

    <h2>Réalisation d’une audiodescription </h2>
    <p>L’audiodescription <b>Kleidi</b> a pour but de permettre à la personne se tenant devant la plaquette de mieux s’imaginer ce qu’elle touche. Pour y accéder, un QR code est placé sur chacune de nos plaquettes, avec un contour en relief pour être plus accessible. Elle dure entre 1,30 et 3 minutes.</p>

    <h3>Écriture de l’audiodescription</h3>

    <p>Nos audiodescriptions décrivent les couleurs, les textures, les formes, le style artistique et globalement, ce qui se dégage de l’oeuvre. </p>

    <p>On commence par nommer l’objet à décrire puis l’on fragmente le tout en petites parties, en utilisant des verbes de perception et des adjectifs.
      Chaque description suit un plan commun :
    </p>

    <h4>Caractéristiques de l’oeuvre</h4>
    <ul>
      <li>Le titre</li>
      <li>Le type de l’oeuvre</li>
      <li>Le nom de l’artiste </li>
      <li>La date de création </li>
    </ul>

    <h4>Description graphique</h4>

    <ol>
      <li>Les personnages</li>
      <li>Les lignes de fuite, de perspectives</li>
      <li>Premier plan</li>
      <li>Arrière plan</li>
      <li>Interprétations possibles</li>
    </ol>


    <h4>Description biographique de l’univers graphique de l’artiste (court)</h4>
    <h4>Citation des sources si citation d’un article, d’une thèse, d’une interview</h4>

    <p>A la fin, une petite conclusion vient reprendre l’objet dans sa totalité. </p>

    <h3>Validation officielle du texte</h3>

    <p>Afin de fournir une description juste et authentique, les audiodescriptions Kleidi doivent être validée par un professionnel de l’art, comme par exemple un historien de l’art ou même l’artiste lui même, si possible. </p>

    <h3>Enregistrement de l’audiodescription </h3>

    <p>Après l’écriture, nous procédons à l’enregistrement de la voix. Il s’agit de parler d’une voix claire et d’enregistrer dans les meilleures conditions possibles : pas de bruits extérieurs et un bon micro si possible. </p>

    <h3>Mise en ligne de l’audiodescription </h3>

    <p>Après l’enregistrement vient la mise en ligne de l’audioguide. Il doit être intégré au site kleidi.org dans l’onglet audioguides. Il portera le nom de l’oeuvre qu’il décrit. </p>

    <h3>Réalisation du QR code</h3>

    <p>La réalisation du QR code peut se faire via Adobe InDesign. Dans le menu, choisissez Objet puis Générer un code QR. La boîte de dialogue apparaît, il vous suffit ensuite de sélectionner “Hyperlien Web” dans l’onglet Contenu et de remplir les champs qui s’affichent. Il est généré en noir sur fond transparent, en 30x30. </p>

    <p>Vous pouvez aussi utiliser un générateur, cependant, il est important de vérifier que le QR code généré redirige directement sur l’url de l’audiodescription que vous avez rentré et qu’il ne passe pas par le site du générateur.
    Générateur utilisé actuellement : <a href="https://www.unitag.io/fr/qrcode">https://www.unitag.io/fr/qrcode</a>
    </p>

    <h2>Réalisation de l’oeuvre en 3D</h2>

    <p>Il s’agit ici de passer d’une photo de l’oeuvre en 2D à une oeuvre 3D aux différents reliefs. </br>
    Veillez à prendre une image la plus claire possible de manière à ce que le détourage soit plus simple. </br>
    Sur un logiciel de tracé vectoriel type Adobe Illustrator, détourer l’oeuvre en ne prenant que les grandes lignes, pour ne pas surcharger la plaquette et pour ainsi éviter l’incompréhension totale. Il ne reste plus que les contours.</br>
    Exporter votre fichier au format .svg pour le mettre sur un logiciel de 3D comme Blender (logiciel 3d) par exemple.
    Il ne reste plus qu’à extruder chaque détail de l’oeuvre à hauteurs différentes pour obtenir des reliefs qui rendront l’oeuvre plus compréhensible (avec des niveaux différents). </p>

    <h2>Réalisation de la plaquette en 3D ( avant impression )</h2>

    <h3>Création de la plaque</h3>

    <p>Bien qu’à terme, nous espérons pouvoir imprimer sur du bois, la plaque est aujourd’hui faite de plastique. L'imprimante de l’IUT permet de sortir cette plaque en deux dimensions : 19cmx19cm ou 18cmx18cm. Cependant, nous préférons des dimensions un peu plus grandes : 20cmx20cm, ou de manière optimale 30cmx30cm. Tout dépend bien évidemment de l'imprimante 3D. L’épaisseur totale oscille entre 1cm et 1,5cm selon les besoins de l’oeuvre. </p>

    La plaque est composée :
    <ul>
      <li>du QR code (contour surélevé)</li>
      <li>de l'oeuvre en relief (différent en fonction de l’horizontalité ou de la verticalité de l’oeuvre) </li>
      <li>du titre de l’oeuvre en-dessous de celle-ci</li>
      <li>des informations telles que : la date, sa taille et son type (peinture, statut…)</li>
      <li>le texte en braille</li>
      <li>le texte descriptif (avec une traduction du texte en braille en-dessous)</li>
      <li>le logo Kleidi </li>
      <li>la phrase “Kleidi a pour but de rendre accessible l’art aux personnes non-voyantes et malvoyantes. Profitez d’une description audio de l'oeuvre avec le QR code ci-dessus.”</li>
    </ul>

    <h3>Ajouter l’oeuvre en 3D</h3>

    <p>Il faut ajouter l’oeuvre en 3D. En fonction du format de celle-ci, à savoir si elle est horizontale ou verticale, le gabarit n’est pas le même. Veuillez trouver ci-dessous les documents nécessaires à la réalisation de la plaque : <a href="https://drive.google.com/drive/u/1/folders/1JnKIqqiqOaK3Gy8y2YMle75egssCepLX">https://drive.google.com/drive/u/1/folders/1JnKIqqiqOaK3Gy8y2YMle75egssCepLX</a></p>


    <h3>Ajouter le QR code </h3>

    <p>Ajouter les contours pour pouvoir y insérer le QR code. Le QR code est collé à l’étape de l’assemblage. Situé en haut à droite, ses dimensions sont variables. </p>

    <h3>Ajouter le titre de l’oeuvre</h3>

    <p>En-dessous de l’oeuvre, il faut ajouter le titre de celle-ci.</p>

    <h3>Exporter en .obj pour l’impression</h3>

    <p>Une fois les éléments précédents achevés, il faut exporter le document sous le format “.obj” pour pouvoir envoyer l’impression à l'imprimante. L’obj est un format de fichier contenant la description d'une géométrie 3D.</p>


    <h2>Impression et assemblage de la plaquette finie</h2>

    <p>A la fin des 4 étapes précédentes, vous aurez tout ce qu’il vous faut pour imprimer et assembler l’ensemble de la plaque pour avoir enfin un produit fini.
    Pour assembler la plaquette, il vous faudra avoir imprimé tous les éléments suivants :</p>

    <ul>
      <li>le QR code ainsi que le texte descriptif</li>
      <li>Le texte descriptif imprimé en Braille sur une feuille plastique grâce à nos partenaires (unadev)</li>
      <li>une plaquette avec l’oeuvre en 3D ainsi que l’emplacement pour le QR code que vous imprimerez grâce à nos partenaires (IUT Montaigne, CapSciences ou Fablab).</li>
    </ul>

    <p>Après cela, vous pouvez passer à l’assemblage, qui consiste simplement à suivre les gabarits suivants : https://drive.google.com/drive/u/1/folders/1JnKIqqiqOaK3Gy8y2YMle75egssCepLX</p>

    <h2>Conclusion </h2>

    <p>Ce guide, que nous avons souhaité le plus simple et le plus clair possible, vous permettra, ainsi, de créer vos plaquettes Kleidi sans aucune difficulté. Ce processus de fabrication que nous avons mis en place est le résultat d’un travail de conception et de réflexion qui, nous l’espérons, vous sera utile.</p>



    </div>



</div>

</div>
