<h1>Réalisation d’une audiodescription </h1>
    <p>L’audiodescription <b>Kleidi</b> a pour but de permettre à la personne se tenant devant la plaquette de mieux s’imaginer ce qu’elle touche. Pour y accéder, un QR code est placé sur chacune de nos plaquettes, avec un contour en relief pour être plus accessible. Elle dure entre 1,30 et 3 minutes.</p>

    <h2>Écriture de l’audiodescription</h2>

    <p>Nos audiodescriptions décrivent les couleurs, les textures, les formes, le style artistique et globalement, ce qui se dégage de l’oeuvre. </p>

    <p>On commence par nommer l’objet à décrire puis l’on fragmente le tout en petites parties, en utilisant des verbes de perception et des adjectifs.
      Chaque description suit un plan commun : <h3>Caractéristiques de l’oeuvre</h3>
    <p>
      
    <ul>
      <li>Le titre</li>
      <li>Le type de l’oeuvre</li>
      <li>Le nom de l’artiste </li>
      <li>La date de création </li>
    </ul>
    
    <h3>Description graphique</h3>
    
    <ol>
      <li>Les personnages</li>
      <li>Les lignes de fuite, de perspectives</li>
      <li>Premier plan</li>
      <li>Arrière plan</li>
      <li>Interprétations possibles</li>
    </ol>
  

    <h3>Description biographique de l’univers graphique de l’artiste (court)</h3>
    <h3>Citation des sources si citation d’un article, d’une thèse, d’une interview</h3>
 
    <p>A la fin, une petite conclusion vient reprendre l’objet dans sa totalité. </p>

    <h2>Validation officielle du texte</h2>

    <p>Afin de fournir une description juste et authentique, les audiodescriptions Kleidi doivent être validée par un professionnel de l’art, comme par exemple un historien de l’art ou même l’artiste lui même, si possible. </p>

    <h2>Enregistrement de l’audiodescription </h2>

    <p>Après l’écriture, nous procédons à l’enregistrement de la voix. Il s’agit de parler d’une voix claire et d’enregistrer dans les meilleures conditions possibles : pas de bruits extérieurs et un bon micro si possible. </p>
    
    <h2>Mise en ligne de l’audiodescription </h2>

    <p>Après l’enregistrement vient la mise en ligne de l’audioguide. Il doit être intégré au site kleidi.org dans l’onglet audioguides. Il portera le nom de l’oeuvre qu’il décrit. </p>
    
    <h2>Réalisation du QR code</h2>

    <p>La réalisation du QR code peut se faire via Adobe InDesign. Dans le menu, choisissez Objet puis Générer un code QR. La boîte de dialogue apparaît, il vous suffit ensuite de sélectionner “Hyperlien Web” dans l’onglet Contenu et de remplir les champs qui s’affichent. Il est généré en noir sur fond transparent, en 30x30. </p>
    
    <p>Vous pouvez aussi utiliser un générateur, cependant, il est important de vérifier que le QR code généré redirige directement sur l’url de l’audiodescription que vous avez rentré et qu’il ne passe pas par le site du générateur. 
    Générateur utilisé actuellement : <a href="https://www.unitag.io/fr/qrcode">OpenClassrooms</a>
    </p>