
<div class="container"> 
  <h2 class="audiodesc_title_inpage">Oeuvre hercule</h2>
  <img width="400" height="500" src="../images/hercule.jpg" alt="Oeuvre hercule">
  <div class="audio_container">
    <h3>Audiodescription :</h3>
    <audio controls autoplay>
      <source src="audios/hercule.mp3" type="audio/mpeg">
    </audio>
  </div>