<div class="container"> 
  <h2 class="audiodesc_title_inpage">Oeuvre Jupiter de mezin</h2>
  <img width="400" height="500" src="../images/jupiter.jpg" alt="Oeuvre Jupiter de mezin">
  <div class="audio_container">
    <h3>Audiodescription :</h3>
    <audio controls autoplay>
      <source src="audios/jupiter.mp3" type="audio/mpeg">
    </audio>
  </div>