<div class="container"> 
  <h2 class="audiodesc_title_inpage">Oeuvre d'un dessinateur du 19eme siecle </h2>
  <img width="400" height="500" src="../images/promenade.jpg" alt="Oeuvre d'un dessinateur du 19eme siecle ">
  <div class="audio_container">
    <h3>Audiodescription :</h3>
    <audio controls autoplay>
      <source src="audios/promenade.mp3" type="audio/mpeg">
    </audio>
  </div>