<div class="audiocont container">
  <audio controls autoplay>
    <source src="selor.mp3" type="audio/mpeg">
  </audio>
  <img width="400" height="500" src="../images/selor.jpg" alt="Maquette del'oeuvre kleidi">
</div>